@import 'mocha.css';
* {
    background-image: none;
    font-size: 21px;
}

window {
    background-color: transparent;
}

button {
    color: black;
    background-color: @surface0;
    outline-style: none;
    border: none;
    border-width: 0px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
    border-radius: 0px;
    box-shadow: none;
    text-shadow: none;
    animation: gradient_f 20s ease-in infinite;
}

button:focus {
    background-color: @mauve;
    background-size: 30%;
}

button:hover {
    background-color: @mauve;
    background-size: 40%;
    border-radius: 50px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55,0.0,.28,1.682);
}

button:hover#lock {
    border-radius: 50px;
    margin : 248px 0px 248px 302px;
}

button:hover#logout {
    border-radius: 50px;
    margin : 248px 0px 248px 0px;
}

button:hover#suspend {
    border-radius: 50px;
    margin : 248px 0px 248px 0px;
}

button:hover#shutdown {
    border-radius: 50px;
    margin : 248px 0px 248px 0px;
}

button:hover#reboot {
    border-radius: 50px;
    margin : 248px 302px 248px 0px;
}

#lock {
    background-image: image(url("icons/lock_black.png"), url("/usr/share/wlogout/icons/lock.png"), url("/usr/local/share/wlogout/icons/lock.png"));
    border-radius: 80px 0px 0px 80px;
    margin : 302px 0px 302px 302px;
}

#logout {
    background-image: image(url("icons/logout_black.png"), url("/usr/share/wlogout/icons/logout.png"), url("/usr/local/share/wlogout/icons/logout.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 302px 0px 302px 0px;
}

#suspend {
    background-image: image(url("icons/suspend_black.png"), url("/usr/share/wlogout/icons/suspend.png"), url("/usr/local/share/wlogout/icons/suspend.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 302px 0px 302px 0px;
}

#shutdown {
    background-image: image(url("icons/shutdown_black.png"), url("/usr/share/wlogout/icons/shutdown.png"), url("/usr/local/share/wlogout/icons/shutdown.png"));
    border-radius: 0px 0px 0px 0px;
    margin : 302px 0px 302px 0px;
}

#reboot {
    background-image: image(url("icons/reboot_black.png"), url("/usr/share/wlogout/icons/reboot.png"), url("/usr/local/share/wlogout/icons/reboot.png"));
    border-radius: 0px 80px 80px 0px;
    margin : 302px 302px 302px 0px;
}
